<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446412900874-46um0p0g5vhj1jlfe5hn1lnchqmqpg4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446412900874-46um0p0g5vhj1jlfe5hn1lnchqmqpg4l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>446412900874-s0sn21mq8jm4ugbm780sfrfo31sro8hj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzuk5hZDoWxblhtVb7Is3yhr_ibCnDkO0</string>
	<key>GCM_SENDER_ID</key>
	<string>446412900874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zmoney</string>
	<key>PROJECT_ID</key>
	<string>what-e7630</string>
	<key>STORAGE_BUCKET</key>
	<string>what-e7630.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446412900874:ios:0b41aec6f153545727adf3</string>
	<key>DATABASE_URL</key>
	<string>https://what-e7630-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>